:root {
    --color-primary: #2C3E50;
    --color-secondary: #2980B9;
    --color-accent: #ECF0F1;
    --color-text: #34495E;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);
    background-color: var(--color-accent);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1,
h2,
h3,
h4 {
    color: var(--color-primary);
    margin-bottom: 1rem;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

.navBar {
    background-color: var(--color-primary);
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar_nav {
    display: flex;
}

.navBar_nav-a {
    color: var(--color-accent);
    text-decoration: none;
    font-weight: bold;
    margin: 0 1rem;
}

.navBar_nav-a:hover {
    text-decoration: underline;
}

.navBar_button {
    background-color: var(--color-secondary);
    color: white;
    border-radius: 20px;
    border: transparent;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.navBar_button:hover {
    background-color: var(--color-primary);
}


.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: white;
    margin: 2rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.presentation_image-profile {
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 0.5rem;
    width: 150px;
    height: 200px;
    object-fit: cover;
}

.presentation_description {
    font-size: 1.25rem;
    color: var(--color-text);
    text-align: center;
}

.articulo {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    transition: background-color 0.3s ease;
}

.articulo:hover {
    background-color: var(--color-primary);
    color: white;
}

.articulo:hover .articulo_header-h4 {
    color: var(--color-secondary);
}

.articulo_header-h4 {
    color: var(--color-primary);
    margin-bottom: 0.5rem;
}

footer small {
    color: var(--color-secondary);
    display: block;
    margin-top: 0.5rem;
}

button {
    background-color: var(--color-secondary);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--color-primary);
}

details {
    background-color: white;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
}